pandas>=1.3.0
numpy>=1.19.5
scikit-learn>=0.24.2
xgboost>=1.4.2
lightgbm>=3.1.1
sentence-transformers>=2.0.0
joblib>=1.0.1
tqdm>=4.62.0
transformers>=4.30.0
torch>=2.0.0
nltk>=3.8.1
emoji>=2.2.0
langchain>=0.0.200
faiss-cpu>=1.7.4
streamlit>=1.22.0
opencv-python>=4.7.0
pytesseract>=0.3.10
Pillow>=9.0.0 